.navigation-list {
  display: block;

  margin: 0;
  padding: 0 5%;

  height: 50px;
  line-height: 50px;

  background-color: #000000;
  list-style: none;
}
.navigation-list-item {
  display: inline-block;
  position: relative;

  margin: 0;
  padding: 0;
  margin-right: 2%;

}

.navigation-list-item a {
  color: white;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navigation-list-item a:hover {
  color: #949c9c;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
