.register {
  margin: 10% auto;
  padding: 30px 30px;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);

}
.alert {
  margin-bottom: 24px;
}
