.login-form {
  padding: 10% 10% 8%;

}
.login-form-container {
    margin: 10% auto;
    max-width: 330px;
    box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  margin: 10px 0;
  width: 100%;
}